.btn{
  border: 0px outset blue;
  border-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.shop-btn{

    color: #fff;
    background-color: #000;
    border-color: #ccc;
}

.weight-btn{
    color: #fff;
    background-color: #ccc;
    border-color: #ccc;
}

.product-title{
  font-size: 30px;
  font-weight: bold;
}
