<!-- header section start -->
<header>



<div class="header-bottom header-bottom-one" id="sticky-menu">
 <div class="container relative">
   <div class="row">

    <div class="col-sm-2 col-md-2 col-xs-4">
      <div class="logo" style="vertical-align: middle;">
				<img src="img/JahLogo.png" width="35" height="35" alt=""/>
      </div>
<!--
			<div class="container relative">
						<div class="left-header " style="vertical-align: middle;
    padding: 13px 0px;">
              <ul >
                <p>&nbsp &nbsp<i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp Delivery at 3pm-9pm</p>
                <p>&nbsp &nbsp<i class="fa fa-phone" aria-hidden="true"></i>&nbsp Call (415)JAH-3561</p>
							</ul>
						</div>
          </div>
        -->
</div>



		<div class="col-sm-10 col-md-10 col-xs-8 static floatright" style="overflow:auto;
    width: auto !important;">
			<div class="all-manu-area">
					<div class="mainmenu clearfix hidden-sm hidden-xs" style="overflow:auto;">
														<nav>
																<ul>
																		<li><a href="#">Home</a></li>
																		<li><a href="#online-order">Menu</a></li>
																		<li><a href="#patient-intake">Membership</a></li>
																		<li><a href="#contact">Contact</a></li>
																		<ul class="social-icon" class="floatleft">
																			<li><a href="https://www.instagram.com/jah.netics/"><i class="fa fa-instagram"></i></a></li>
																		</ul>
																</ul>
														</nav>
												</div>

												<!-- mobile menu start -->
												<div class="mobile-menu-area hidden-lg hidden-md" >
														<div class="mobile-menu">
																<nav id="dropdown">
																	<ul>
																			<li><a href="#">Home</a></li>
																			<li><a href="#online-order">Menu</a></li>
																			<li><a href="#patient-intake">Membership</a></li>
																			<li><a href="#contact">Contact</a></li>
																			<li><a href="https://www.instagram.com/jah.netics/"> @JAH.netics</i></a></li>
																	</ul>
															</nav>
													</div>
												</div>



											</div>
										</div>
	</div>
 </div>
</div>
<!-- header section end -->
</header>
