<!-- header section start -->
<header>



<div class="header-bottom header-bottom-one" id="sticky-menu">
  <div class="row">

 <div class="container relative">
    <div class="col-sm-2 col-md-2 col-xs-4">
      <div class="logo left-header " style="vertical-align: middle">
				<img src="img/icon.jpeg" style="max-width=50%;" alt="" />
      </div>

			<div class="container relative">
						<div class="left-header relative" style="vertical-align: middle;">
              <ul>
                <li><p><i class="fa fa-clock-o" aria-hidden="true"></i>Delivery at 3pm - 9pm</p></li>
                <li><p><i class="fa fa-phone" aria-hidden="true"></i>  Call (415) 524 3561</p></li>
							</ul>
						</div>
				</div>
		</div>

		<div class="col-sm-10 col-md-10 col-xs-8 static">
			<div class="all-manu-area">
					<div class="mainmenu clearfix hidden-sm hidden-xs">
														<nav>
																<ul>
																		<li><a href="#">Home</a></li>
																		<li><a href="#online-order">Menu</a></li>
																		<li><a href="#patient-intake">Membership</a></li>
																		<li><a href="#">About</a></li>
																		<li><a href="#">Contact</a></li>
																		<ul class="social-icon" class="floatleft">
																			<li><a href="https://www.instagram.com/jah.netics/"><i class="fa fa-instagram"></i></a></li>
																		</ul>
																</ul>
														</nav>
												</div>

												<!-- mobile menu start -->
												<div class="mobile-menu-area hidden-lg hidden-md">
														<div class="mobile-menu">
																<nav id="dropdown">
																	<ul>
																			<li><a href="#">Home</a></li>
																			<li><a href="#online-order">Menu</a></li>
																			<li><a href="#patient-intake">Membership</a></li>
																			<li><a href="#">About</a></li>
																			<li><a href="#">Contact</a></li>
																			<ul class="social-icon" class="floatleft">
																				<li><a href="https://www.instagram.com/jah.netics/"><i class="fa fa-instagram"></i></a></li>
																			</ul>
																	</ul>
															</nav>
													</div>
												</div>



											</div>
										</div>
	</div>
 </div>
</div>
<!-- header section end -->
</header>
