<!-- header section start -->
<header>
<div class="header-top">
<div class="container">
	<div class="row">
		<div class="col-md-6 col-sm-4">
			<div class="left-header clearfix">
				<ul>
					<li><p><i class="fa fa-phone" aria-hidden="true"></i>Call (415) 524 3561</p></li>
					<li><p><a href="#online-order" ><i class="fa fa-shopping-cart"></i>Order Online</a></p></li>
				</ul>
			</div>
		</div>
	</div>
</div>
</div>

<div class="header-bottom header-bottom-one" id="sticky-menu">
<div class="container relative">
	<div class="row">
		<div class="col-sm-2 col-md-2 col-xs-4">
			<div class="logo">
				<a href="#"><img src="img/JAH-logo.jpg" alt="" /></a>
			</div>
		</div>
	</div>
	</div>
</div>
<!-- header section end -->
</header>
