<br><br><br>
<!-- slider-section-start -->
        <section class="slider-main-area">
            <div class="main-slider an-si">
                <div class="bend niceties preview-2 hm-ver-2">
                    <div id="ensign-nivoslider-2" class="slides">
                        <img src="img/JAH.jpg" alt = "" title="#slider-direction-1" />
                        <img src="img/cs14_hawaiin_gold_critical_concentrates_jahnetics.jpg" alt="" title="#slider-direction-2"  />
                        <img src="img/JAH-cookies.jpg" alt="" title="#slider-direction-3"  />
                    </div>
                    <!-- direction 1 -->
                    <div id="slider-direction-1" class="t-cn slider-direction Builder">
                        <div class="slide-all">
                            </div>
                    </div>

                    <!-- direction 1 -->
                    <div id="slider-direction-2" class="t-cn slider-direction Builder">
                        <div class="slide-all">
                            <!-- layer 1 -->
                            <div class="layer-1">
                                <h2 class="title5">Hawaiian Gold Critical</h2>
                            </div>
                            <!-- layer 2 -->
                            <div class="layer-2">
                                <h2 class="title6">Concentrates</h2>
                            </div>
                            <!-- layer 2 -->
                            <div class="layer-2">
                                <p class="title0">Different Experience</p>
                            </div>
                            <!-- layer 3 -->
                            <div class="layer-3">
                                <a class="min1" href="#online-order">Online Order</a>
                            </div>
                        </div>
                    </div>

                    <div id="slider-direction-3" class="t-cn slider-direction Builder">
                        <div class="slide-all slide2">
                            <!-- layer 1 -->
                            <div class="layer-1">
                                <h2 class="title5">JAH Cookies</h2>
                            </div>
                            <!-- layer 2 -->
                            <div class="layer-2">
                                <h2 class="title6">Flowers</h2>
                            </div>
                            <!-- layer 2 -->
                            <div class="layer-2">
                                <p class="title0">Tasteful Joy</p>
                            </div>
                            <!-- layer 3 -->
                            <div class="layer-3">
                                <a class="min1" href="#online-order">Online Order</a>
                            </div>
                        </div>
                    </div>
			    </div>
            </div>
        </section>
		<!-- slider section end -->

    <!-- announcement -->
    <section class="featured-products single-products section-padding-top">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">


            <div class="section-title">

              <h3>Terms of Operation</h3>
              <div class="section-icon">
                    <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
              </div><br></br>
                  <p><b>JAHnetics is proud to announce our soft opening!</b></p>
                  <p  style="color:red;">  Hours of operation will be limited to <b>Monday- Sunday 3pm-9pm</b></p>
                  <p>Orders placed during normal business hours will be delivered between 30 minutes and 2 hours.</p>
                  <p>Patients who place an order during non business hours (3pm-9pm) will receive a call or email<br> during normal business hours to confirm immediate delivery or schedule a time window.</p>
                  <p>Specific delivery requests can be accommodated for!</p>
                  <p style="color:red;">All deliveries can be accommodated <b>ONLY</b> within San Francisco city limits.</p>

                </div>
            </div>
          </div>
      </div>
    </section>




    <!-- new-products section start -->
    <section class="featured-products single-products section-padding-top">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">


            <div class="section-title">

              <h3>MIX AND MATCH THE FLOWERS*</h3>
              <div class="section-icon">
                    <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
              </div><br></br>

                  <p>Order any <b>single eighth</b> and pay the eighth-ounce price @ <b>$50</b></p>
                  <p>Order any combination of <b>2 eighths</b> and pay the quarter-ounce price @ <b>$90</b> <i>($45 per eighth)</i></p>
                  <p>Order any combination of <b>4 eighths</b> and pay the half-ounce @ <b>$160</b> <i>($40 per eighth)</i></p>
                  <p>Order any combination of <b>8 eighths</b> and pay the ounce @ <b>$280</b> <i>($35 per eighth)</i></p>
                  <p style="color:red; font-size:12px;"><b>* Shopping Cart total will not reflect discount. Patients who buy multiple eighths will<br> receive an additional email confirming the actual discounted total.</b></p><br></br>
              </div>
            </div>
          </div>
      </div>
</section>


                  <!-- new-products section start -->
                  <section class="featured-products single-products section-padding-top">
                    <div class="container">
                      <div class="row">
                        <div class="col-xs-12">
                          <a name = "online-order"></a>

                          <div class="section-title">

                            <h3>FEATURED PRODUCTS</h3>
                            <div class="section-icon">
                                  <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                            </div><br></br>

                <div> <br></br>
                 <script src="https://embed.getmeadow.com/assets/embed.js" data-organization-id="186"></script>
               </div>
            </div>
          </div>
        </div>
      </div>
    </section>



    <!-- Membership -->
    <section class="featured-products single-products section-padding-top">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <a name = "patient-intake"></a>

            <div class="section-title">

              <h3>MEMBERSHIP</h3>
              <div class="section-icon">
                    <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
              </div><br>
               <div>
                  <script src="https://intake.getmeadow.com/assets/embed.js"data-organization-id="186" style="background:#333333;"></script>
               </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- announcement -->
    <section class="featured-products single-products section-padding-top">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <a name = "contact"></a>

            <div class="section-title">

              <h3>CONTACT</h3>
              <div class="section-icon">
                    <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
              </div><br></br>
                <p><i class="fa fa-clock-o" aria-hidden="true"></i> Delivery hours 3pm-9pm</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> (415)JAH-3561</p>
                <p><a href="mailto:info@Jahnetics.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@Jahnetics.com</a><p>
                <ul class="social-icon" class="floatleft">
                  <a href="https://www.instagram.com/jah.netics/"><i class="fa fa-instagram"></i> @JAH.netics</a>
                </ul>
                </div>
            </div>
          </div>
      </div>
    </section>







        <!-- blog section start -->
		<section class="blog section-padding-top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12">
						<div class="section-title">
							<h3>Events</h3>
							<div class="section-icon">
                                <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                            </div>
						</div>
					</div>
				</div>

				<div class="row">
					<div id="blog" class="owl-carousel product-slider owl-theme re-blog">
						<div class="col-xs-12 col-sm-12">
							<div class="blog-container-inner">
                                <div class="post-thumb">
                                    <a href="http://hempcon.com/hempcons-holloweed"><img class="attachment-blog-list wp-post-image" alt="blog-2" src="img/blog/halloweed.jpg"></a>
                                </div>
                                <div class="visual-inner">
                                    <h2 class="blog-title">
                                        <a href="http://hempcon.com/hempcons-holloweed"> SF’S HELLAWEED </a>
                                    </h2>
                                    <div class="blog-meta">
                                        <span class="post-category">
                                            at
                                            <a rel="category" href="#">Cow Palace</a>
                                        </span>
                                        <span class="published">
                                            <i class="fa fa-clock-o"></i>
                                            Oct 28 - 30, 2016
                                        </span>
                                    </div>
                                    <div class="blog-content">2600 Geneva Ave, Daly City, CA 94014</div>
                            </div>
						</div>
						<!-- single blog item end -->





				</div>
			</div>
    </div>
  </div>
</section>
		<!-- blog section end -->













			<!-- footer-top area end -->
			<!-- footer-bottom area start -->
			<div class="footer-bottom">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 text-center">
							<p>&copy; 2x2 Studio, San Francisco 2016. All Rights Reserved.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- footer-bottom area end -->
		</footer>
        <!-- footer section end -->
