<!-- slider-section-start -->
        <section class="slider-main-area">
            <div class="main-slider an-si">
                <div class="bend niceties preview-2 hm-ver-1">
                    <div id="ensign-nivoslider-2" class="slides">
                        <img src="img/cs14_hawaiin_gold_critical_concentrates_jahnetics.jpg" alt="" title="#slider-direction-3"  />
                        <img src="img/JAH-cookies.jpg" alt="" title="#slider-direction-1"  />
                    </div>
                    <!-- direction 1 -->
                    <div id="slider-direction-3" class="t-cn slider-direction Builder">
                        <div class="slide-all">
                            <!-- layer 1 -->
                            <div class="layer-1">
                                <h2 class="title5">Hawaiin Gold Critical</h2>
                            </div>
                            <!-- layer 2 -->
                            <div class="layer-2">
                                <h2 class="title6">Concentrates</h2>
                            </div>
                            <!-- layer 2 -->
                            <div class="layer-2">
                                <p class="title0">Different Experience</p>
                            </div>
                            <!-- layer 3 -->
                            <div class="layer-3">
                                <a class="min1" href="#online-order">Online Order</a>
                            </div>
                        </div>
                    </div>
                    <div id="slider-direction-1" class="t-cn slider-direction Builder">
                        <div class="slide-all slide2">
                            <!-- layer 1 -->
                            <div class="layer-1">
                                <h2 class="title5">JAH Cookies</h2>
                            </div>
                            <!-- layer 2 -->
                            <div class="layer-2">
                                <h2 class="title6">Flowers</h2>
                            </div>
                            <!-- layer 2 -->
                            <div class="layer-2">
                                <p class="title0">Tasteful Joy</p>
                            </div>
                            <!-- layer 3 -->
                            <div class="layer-3">
                                <a class="min1" href="#online-order">Online Order</a>
                            </div>
                        </div>
                    </div>
			    </div>
            </div>
        </section>
		<!-- slider section end -->


    <!-- new-products section start -->
    <section class="featured-products single-products section-padding-top">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <a name = "online-order"></a>

            <div class="section-title">

              <h3>FEATURED PRODUCTS</h3>
              <div class="section-icon">
                    <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
              </div><br>
               <div>
                 <script src="https://embed.getmeadow.com/assets/embed.js" data-organization-id="186"></script>
               </div>
            </div>
          </div>
        </div>
      </div>
    </section>



    <!-- Membership -->
    <section class="featured-products single-products section-padding-top">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <a name = "patient-intake"></a>

            <div class="section-title">

              <h3>BECOME MEMBER</h3>
              <div class="section-icon">
                    <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
              </div><br>
               <div>
                  <script src="https://intake.getmeadow.com/assets/embed.js"data-organization-id="186"></script>
               </div>
            </div>
          </div>
        </div>
      </div>
    </section>








        <!-- blog section start -->
		<section class="blog section-padding-top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12">
						<div class="section-title">
							<h3>Events</h3>
							<div class="section-icon">
                                <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                            </div>
						</div>
					</div>
				</div>

				<div class="row">
					<div id="blog" class="owl-carousel product-slider owl-theme re-blog">
						<div class="col-xs-12 col-sm-12">
							<div class="blog-container-inner">
                                <div class="post-thumb">
                                    <a href="http://hempcon.com/hempcons-investment-fair"><img class="attachment-blog-list wp-post-image" alt="blog-2" src="img/Hempcon-Summer-Games.png"></a>
                                </div>
                                <div class="visual-inner">
                                    <h2 class="blog-title">
                                        <a href="http://hempcon.com/hempcons-investment-fair"> Hempcon Summer Games</a>
                                    </h2>
                                    <div class="blog-meta">
                                        <span class="post-category">
                                            at
                                            <a rel="category" href="#">Cow Palace</a>
                                        </span>
                                        <span class="published">
                                            <i class="fa fa-clock-o"></i>
                                            Aug 19 - 21, 2016
                                        </span>
                                    </div>
                                    <div class="blog-content">2600 Geneva Ave, Daly City, CA 94014</div>
                            </div>
						</div>
						<!-- single blog item end -->





				</div>
			</div>
    </div>
  </div>
</section>
		<!-- blog section end -->













			<!-- footer-top area end -->
			<!-- footer-bottom area start -->
			<div class="footer-bottom">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 text-center">
							<p>&copy; 2x2 Studio, San Francisco 2016. All Rights Reserved.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- footer-bottom area end -->
		</footer>
        <!-- footer section end -->
